.page {
    text-align: center;
    text-justify: left;
    padding: 10%;
    padding-top: 2%;
}
h1 {
    color: red;
}
svg {
    background-color: #DDDDDD;
}
line {
    stroke: black;
    fill-opacity: 100%;
}
text {
    text-anchor: middle;
}